<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<style>
    button{
        border: 0px;
        border-style: none;
        background-color: white;
    }
    a{
        text-decoration: none;
        color: blueviolet;
    }
    a:hover{
        color: blue;
        font-weight: bold;
    }
   
</style>
<body>
    <div style="text-align: center;margin-top: 80px;">
        <img src="/static/error_img.png" alt="">
        <h3>Oops...something went wrong!</h3>
        <button> <a href="/">click here to login again!</a> </button>
    </div>
    
</body>
</html>