<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">

  <title>Score</title>

  <style>
    .bg {

      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/home.jpeg");
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/home.jpeg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      background-attachment: fixed;
      background-color: white;
    }
  </style>
</head>

<body>
  <div class="bg">

    <div class="nav1">
      <input type="checkbox" id="nav1-check">
      <div class="nav1-header">
        <div class="nav1-title">
          <img class="wipro-logo" src="/static/Wipro-logo.png" alt="wipro-logo">
        </div>
      </div>
      <div class="nav1-btn">
        <label for="nav1-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav1-links">
        <img src="/static/gcp_icon.svg" alt="gcp-icon">
        <a href="/quiz-start">Home</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    score text

    <div style="position: absolute;top: 40%; right: 20% ; left:20% ;text-align: center;">
      <h1 class="score-head" style="color: rgb(248, 240, 240);">Your Score <style>
        </style>
      </h1>
      <div class="score-circle">
        <h1 style="color: rgb(248, 244, 244); ">{{sc}}</h1>
      </div>

    </div>


  </div>

</body>

</html>